---
- hosts: guests:extras
#- hosts: extras
  become: yes
  become_user: isucon
  gather_facts: no
  tasks:
    - git:
        repo=https://github.com/tagomoris/xbuild.git
        dest=/home/isucon/.xbuild
        update=yes
    # ruby
    # datasource=ruby-version depName=ruby
    - command: /home/isucon/.xbuild/ruby-install 3.3.6 /home/isucon/.local/ruby
      args:
        creates: /home/isucon/.local/ruby/bin/ruby
    # node
    - command: /home/isucon/.xbuild/node-install v4.4.3 /home/isucon/.local/node
      args:
        creates: /home/isucon/.local/node/bin/node
      tags:
        - nodejs
    # golang
    # datasource=golang-version depName=golang
    - shell: /home/isucon/.xbuild/go-install 1.23.4 /home/isucon/.local/go $(uname -s | tr [A-Z] [a-z]) $(dpkg --print-architecture)
      args:
        creates: /home/isucon/.local/go/bin/go

- hosts: guests:extras
  become: yes
  gather_facts: yes
  tasks:
    - name: Apt update
      apt: update_cache=yes
      when: ansible_distribution == "Ubuntu" and ansible_distribution_version == "24.04"
      tags: php8
    - name: PHP8 install
      apt: name="{{item}}"
      when: ansible_distribution == "Ubuntu" and ansible_distribution_version == "24.04"
      with_items:
        - php8.3-cli
        - php8.3-fpm
        - php8.3-mysql
        - php-memcached
      tags: php8
    - name: Update user and group in PHP-FPM config
      replace:
        path: /etc/php/8.3/fpm/pool.d/www.conf
        regexp: '^user = www-data'
        replace: 'user = isucon'
      when: ansible_distribution == "Ubuntu" and ansible_distribution_version == "24.04"
      tags: php8
    - name: Update group in PHP-FPM config
      replace:
        path: /etc/php/8.3/fpm/pool.d/www.conf
        regexp: '^group = www-data'
        replace: 'group = isucon'
      when: ansible_distribution == "Ubuntu" and ansible_distribution_version == "24.04"
      tags: php8
    - name: Comment out old listen directive in PHP-FPM config
      replace:
        path: /etc/php/8.3/fpm/pool.d/www.conf
        regexp: '^listen = /run/php/php8.3-fpm.sock'
        replace: ';listen = /run/php/php8.3-fpm.sock'
      when: ansible_distribution == "Ubuntu" and ansible_distribution_version == "24.04"
      tags: php8
    - name: Add new listen directive in PHP-FPM config
      lineinfile:
        path: /etc/php/8.3/fpm/pool.d/www.conf
        insertafter: '^;listen = /run/php/php8.3-fpm.sock'
        line: 'listen = 127.0.0.1:9000'
      when: ansible_distribution == "Ubuntu" and ansible_distribution_version == "24.04"
      tags: php8
    - name: stop php-fpm
      service: name=php8.3-fpm state=stopped enabled=no
      when: ansible_distribution == "Ubuntu" and ansible_distribution_version == "24.04"
      tags: php8

- hosts: guests:extras
  become: yes
  gather_facts: yes
  tasks:
    - name: Apt update
      apt: update_cache=yes
      when: ansible_distribution == "Ubuntu" and ansible_distribution_version == "22.04"
      tags: php8
    - name: PHP8 install
      apt: name="{{item}}"
      when: ansible_distribution == "Ubuntu" and ansible_distribution_version == "22.04"
      with_items:
        - php8.1-cli
        - php8.1-fpm
        - php8.1-mysql
        - php-memcached
      tags: php8
    - name: copy www.conf (php-fpm)
      copy: src=../files/etc/php/8.1/fpm/pool.d/www.conf dest=/etc/php/8.1/fpm/pool.d/www.conf owner=root mode=644
      when: ansible_distribution == "Ubuntu" and ansible_distribution_version == "22.04"
      tags: php8
    - name: stop php-fpm
      service: name=php8.1-fpm state=stopped enabled=no
      when: ansible_distribution == "Ubuntu" and ansible_distribution_version == "22.04"
      tags: php8
