<div class="header">
  <div class="isu-title">
    <h1><a href="/">Iscogram</a></h1>
  </div>
  <div class="isu-header-menu">
    <div><a href="/login">ログイン</a></div>
    <div><a href="/@"><span class="isu-account-name"></span>さん</a></div>
    <div><a href="/admin/banned">管理者用ページ</a></div>
    <div><a href="/logout">ログアウト</a></div>
  </div>
</div>
