<div class="header">
  <div class="isu-title">
    <h1><a href="/">Iscogram</a></h1>
  </div>
  <div class="isu-header-menu">
    <% if me.nil? %>
    <div><a href="/login">ログイン</a></div>
    <% else %>
    <div><a href="/@<%=  escape_html CGI.escape(me[:account_name]) %>"><span class="isu-account-name"><%=  escape_html me[:account_name] %></span>さん</a></div>
    <% if me[:authority] == 1 %>
    <div><a href="/admin/banned">管理者用ページ</a></div>
    <% end %>
    <div><a href="/logout">ログアウト</a></div>
    <% end %>
  </div>
</div>
