<h1>Iscogram</h1>

<div class="header">
  <%= escape_html session[:user][:account_name] %>さん
</div>

<div class="isu-submit">
  <form method="post" action="/" enctype="multipart/form-data">
    <div class="isu-form">
      <input type="file" name="file" value="file">
    </div>
    <div class="isu-form">
      <textarea name="body"></textarea>
    </div>
    <div class="form-submit">
      <input type="hidden" name="csrf_token" value="<%= escape_html session.id %>">
      <input type="submit" name="submit" value="submit">
    </div>
  </form>
</div>

<div>
  <% posts.each do |p| %>
  <div class="isu-post">
    <div class="isu-post-image">
      <img src="/image/<%= p[:id] %>" class="isu-image">
    </div>
    <div class="isu-post-text">
      <%= escape_html(p[:body]).gsub(/\r?\n/, '<br>') %>
    </div>
  </div>
  <% end %>
</div>
