name: Renovate Config Validator

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "renovate.json"
      - ".github/workflows/renovate-config-validator-ci.yml"

jobs:
  renovate-config-validator:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: validate renovate.json
        run: npx --package=renovate@latest -c renovate-config-validator
